In [1]:
import pandas as pd 
import numpy as np

In [2]:
#head()

In [3]:
df=pd.Series(np.arange(1,51))
print(df.head(7))

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int32

In [4]:
#tail()

In [5]:
df=pd.Series(np.arange(1,51))
print(df.tail(5))

45    46
46    47
47    48
48    49
49    50
dtype: int32

In [6]:
#values

In [7]:
df=pd.Series(np.arange(1,51))
print(df.values)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48
 49 50]

In [9]:
#groupby()

In [10]:
import pandas as pd

In [12]:
world_cup={'team':['WI','WI','IND','AUS','PAK','SL','AUS','AUS','AUS','IND','AUS'],'rank':[7,7,2,1,6,4,1,1,1,2,1],'year':[1975,1979,1983,1987,1992,1996,1999,2003,2007,2011,2015]}
df=pd.DataFrame(world_cup)
print(df.groupby(['team','rank']).groups)

{('AUS', 1): [3, 6, 7, 8, 10], ('IND', 2): [2, 9], ('PAK', 6): [4], ('SL', 4): [5], ('WI', 7): [0, 1]}

In [13]:
#Concatenation()  #no relationship between 2 dataset

In [14]:
import pandas as pd 

wc={'team':['IND','AUS','WI','PAK','SL'],
   'rank':[2,3,7,8,4],
   'year':[2011,2015,1979,1992,1996]}
chockers={'team':['SA','NZ','ZIM'],
         'rank':[1,5,9]}
df1=pd.DataFrame(world_cup)
df2=pd.DataFrame(chockers)
print(pd.concat([df1,df2],axis=1))

   team  rank  year team  rank
0    WI     7  1975   SA   1.0
1    WI     7  1979   NZ   5.0
2   IND     2  1983  ZIM   9.0
3   AUS     1  1987  NaN   NaN
4   PAK     6  1992  NaN   NaN
5    SL     4  1996  NaN   NaN
6   AUS     1  1999  NaN   NaN
7   AUS     1  2003  NaN   NaN
8   AUS     1  2007  NaN   NaN
9   IND     2  2011  NaN   NaN
10  AUS     1  2015  NaN   NaN

In [15]:
#merging   need common column #have relationship between 2 dataset

In [26]:
import pandas as pd 

wc={'team':['IND','AUS','WI','PAK','SL'],
   'rank':[2,3,7,8,4],
   'year':[2011,2015,1979,1992,1996]}
stats={'team':['IND','AUS','WI','PAK','SL'],
         'points':[100,200,300,400,500],
         'play':[13,15,19,18,14]}
df1=pd.DataFrame(wc)
df2=pd.DataFrame(stats)
print(df1)
print(df2)
print(pd.merge(df1,df2,on='team'))

  team  rank  year
0  IND     2  2011
1  AUS     3  2015
2   WI     7  1979
3  PAK     8  1992
4   SL     4  1996
  team  points  play
0  IND     100    13
1  AUS     200    15
2   WI     300    19
3  PAK     400    18
4   SL     500    14
  team  rank  year  points  play
0  IND     2  2011     100    13
1  AUS     3  2015     200    15
2   WI     7  1979     300    19
3  PAK     8  1992     400    18
4   SL     4  1996     500    14